In [1]:
import datetime as dt

In [2]:
import dateutil as du

In [3]:
p = du.parser.parse('01-NOV-2016 10:38:26')
p.isoformat()

'2016-11-01T10:38:26'

In [4]:
import pandas as pd
g = pd.Timestamp(p)
g

Timestamp('2016-11-01 10:38:26')

In [5]:
du.parser.parse(p.isoformat())

datetime.datetime(2016, 11, 1, 10, 38, 26)

In [2]:
import pandas as pd

In [7]:
import json as js

with open('../src/models/datastructure.json') as f:
    ds_data = js.load(f)

In [8]:
list(ds_data['data_cols'].keys())

['ETD_WAYBILL_NO',
 'ETD_EBTMNO',
 'ETD_ROUTE_NO',
 'ETD_ROUTE_TYPE',
 'ETD_TRIP_NO',
 'ETD_TICKET_TYPE',
 'ETD_TICKET_NO',
 'ETD_TICKET_SUBNO',
 'ETD_CUR_STOP_NO',
 'ETD_CUR_STOP_CODE',
 'ETD_DST_STOP_NO',
 'ETD_DST_STOP_CODE',
 'ETD_CUR_SUB_STAGE',
 'ETD_DST_SUB_STAGE',
 'ETD_ADULTS',
 'ETD_CHILD',
 'ETD_ADULT_FARE',
 'ETD_CHILD_FARE',
 'ETD_AMOUNT',
 'ETD_ARF',
 'ETD_BRIDGE_FEE',
 'ETD_MISC_FEE',
 'ETD_DATE',
 'ETD_TD_TIME',
 'ETD_TRIPCOLL_AMT',
 'ETD_DOC_NO',
 'ETD_BUS_SRV_CODE',
 'ETD_SEASON',
 'ETD_TOT_COL_AMT',
 'ETD_TICKET_TYPE2',
 'ETD_DEPOT_CODE',
 'ETD_LAST_UPD_DATE',
 'ETD_UID',
 'ETD_BATTERY_VOLT',
 'ETD_CONCN_AMOUNT',
 'ETD_CONCN_PERCENT',
 'ETD_CUR_STOP_NAME',
 'ETD_DST_STOP_NAME',
 'ETD_KMS',
 'ETD_TICKET_TYPE_DESCR']

In [4]:
p = pd.read_csv('../data/raw/shivmogga.csv', parse_dates={'ETD_DATETIME':[' ETD_DATE                       ',' ETD_TD_TIME                    ']})
p.columns

Index(['ETD_DATETIME', ' ETD_WAYBILL_NO                 ',
       ' ETD_EBTMNO                     ', ' ETD_ROUTE_NO                   ',
       ' ETD_ROUTE_TYPE                 ', ' ETD_TRIP_NO                    ',
       ' ETD_TICKET_TYPE                ', ' ETD_TICKET_NO                  ',
       ' ETD_TICKET_SUBNO               ', ' ETD_CUR_STOP_NO                ',
       ' ETD_CUR_STOP_CODE              ', ' ETD_DST_STOP_NO                ',
       ' ETD_DST_STOP_CODE              ', ' ETD_CUR_SUB_STAGE              ',
       ' ETD_DST_SUB_STAGE              ', ' ETD_ADULTS                     ',
       ' ETD_CHILD                      ', ' ETD_ADULT_FARE                 ',
       ' ETD_CHILD_FARE                 ', ' ETD_AMOUNT                     ',
       ' ETD_ARF                        ', ' ETD_BRIDGE_FEE                 ',
       ' ETD_MISC_FEE                   ', ' ETD_TRIPCOLL_AMT               ',
       ' ETD_DOC_NO                     ', ' ETD_BUS_SRV_CODE               ',
       ' ETD_SEASON                     ', ' ETD_TOT_COL_AMT                ',
       ' ETD_TICKET_TYPE2               ', ' ETD_DEPOT_CODE                 ',
       ' ETD_LAST_UPD_DATE              ', ' ETD_UID                        ',
       ' ETD_BATTERY_VOLT               ', ' ETD_CONCN_AMOUNT               ',
       ' ETD_CONCN_PERCENT              ', ' ETD_CUR_STOP_NAME              ',
       ' ETD_DST_STOP_NAME              ', ' ETD_KMS                        ',
       ' ETD_TICKET_TYPE_DESCR          ', ' ETD_TRIP_DIRECTION             ',
       ' ETD_SEATNO                     ', ' ETD_TRIPID                     ',
       ' ETD_PNRNO                      '],
      dtype='object')

In [11]:
# a =  list(p.columns)
# g=p[[x for x in a if "ETD" in x]]
# g.columns[0].strip()
# p.columns = [x.strip() for x in p.columns]
# p.columns
{a:a.strip() for a in p.columns}

{'ETD_DATETIME': 'ETD_DATETIME',
 ' ETD_WAYBILL_NO                 ': 'ETD_WAYBILL_NO',
 ' ETD_EBTMNO                     ': 'ETD_EBTMNO',
 ' ETD_ROUTE_NO                   ': 'ETD_ROUTE_NO',
 ' ETD_ROUTE_TYPE                 ': 'ETD_ROUTE_TYPE',
 ' ETD_TRIP_NO                    ': 'ETD_TRIP_NO',
 ' ETD_TICKET_TYPE                ': 'ETD_TICKET_TYPE',
 ' ETD_TICKET_NO                  ': 'ETD_TICKET_NO',
 ' ETD_TICKET_SUBNO               ': 'ETD_TICKET_SUBNO',
 ' ETD_CUR_STOP_NO                ': 'ETD_CUR_STOP_NO',
 ' ETD_CUR_STOP_CODE              ': 'ETD_CUR_STOP_CODE',
 ' ETD_DST_STOP_NO                ': 'ETD_DST_STOP_NO',
 ' ETD_DST_STOP_CODE              ': 'ETD_DST_STOP_CODE',
 ' ETD_CUR_SUB_STAGE              ': 'ETD_CUR_SUB_STAGE',
 ' ETD_DST_SUB_STAGE              ': 'ETD_DST_SUB_STAGE',
 ' ETD_ADULTS                     ': 'ETD_ADULTS',
 ' ETD_CHILD                      ': 'ETD_CHILD',
 ' ETD_ADULT_FARE                 ': 'ETD_ADULT_FARE',
 ' ETD_CHILD_FARE                 ': 'ETD_CHILD_FARE',
 ' ETD_AMOUNT                     ': 'ETD_AMOUNT',
 ' ETD_ARF                        ': 'ETD_ARF',
 ' ETD_BRIDGE_FEE                 ': 'ETD_BRIDGE_FEE',
 ' ETD_MISC_FEE                   ': 'ETD_MISC_FEE',
 ' ETD_TRIPCOLL_AMT               ': 'ETD_TRIPCOLL_AMT',
 ' ETD_DOC_NO                     ': 'ETD_DOC_NO',
 ' ETD_BUS_SRV_CODE               ': 'ETD_BUS_SRV_CODE',
 ' ETD_SEASON                     ': 'ETD_SEASON',
 ' ETD_TOT_COL_AMT                ': 'ETD_TOT_COL_AMT',
 ' ETD_TICKET_TYPE2               ': 'ETD_TICKET_TYPE2',
 ' ETD_DEPOT_CODE                 ': 'ETD_DEPOT_CODE',
 ' ETD_LAST_UPD_DATE              ': 'ETD_LAST_UPD_DATE',
 ' ETD_UID                        ': 'ETD_UID',
 ' ETD_BATTERY_VOLT               ': 'ETD_BATTERY_VOLT',
 ' ETD_CONCN_AMOUNT               ': 'ETD_CONCN_AMOUNT',
 ' ETD_CONCN_PERCENT              ': 'ETD_CONCN_PERCENT',
 ' ETD_CUR_STOP_NAME              ': 'ETD_CUR_STOP_NAME',
 ' ETD_DST_STOP_NAME              ': 'ETD_DST_STOP_NAME',
 ' ETD_KMS                        ': 'ETD_KMS',
 ' ETD_TICKET_TYPE_DESCR          ': 'ETD_TICKET_TYPE_DESCR',
 ' ETD_TRIP_DIRECTION             ': 'ETD_TRIP_DIRECTION',
 ' ETD_SEATNO                     ': 'ETD_SEATNO',
 ' ETD_TRIPID                     ': 'ETD_TRIPID',
 ' ETD_PNRNO                      ': 'ETD_PNRNO'}

In [12]:
# g=p[[x for x in a if "ETD" in x]]
# g.head(3)
gg = p.rename(columns={a:a.strip() for a in p.columns})
gg=gg[[x for x in gg.columns if "ETD" in x]]
gg.columns
gg.head(3)

,ETD_DATETIME,ETD_WAYBILL_NO,ETD_EBTMNO,ETD_ROUTE_NO,ETD_ROUTE_TYPE,ETD_TRIP_NO,ETD_TICKET_TYPE,ETD_TICKET_NO,ETD_TICKET_SUBNO,ETD_CUR_STOP_NO,...,ETD_CONCN_AMOUNT,ETD_CONCN_PERCENT,ETD_CUR_STOP_NAME,ETD_DST_STOP_NAME,ETD_KMS,ETD_TICKET_TYPE_DESCR,ETD_TRIP_DIRECTION,ETD_SEATNO,ETD_TRIPID,ETD_PNRNO
0,2018-11-01 08:31:48,629080,50134882,1,1,2,1,198317,0,14,...,0,0,BIRUR,KADUR,6,PASSENGER,D,NaN,----------,---------
1,2018-11-01 08:31:56,629080,50134882,1,1,2,1,198318,0,14,...,0,0,BIRUR,ARSIKERE,43,PASSENGER,D,NaN,----------,---------
2,2018-11-01 08:32:20,629080,50134882,1,1,2,1,198319,0,14,...,0,0,BIRUR,KADUR,6,PASSENGER,D,NaN,----------,---------

In [14]:
gg.sort_values('ETD_DATETIME', inplace=True)

In [58]:
c = gg.groupby('ETD_WAYBILL_NO')

s = c.ETD_CUR_STOP_CODE.unique()
s.index
s.keys()
','.join(map(str, s[629055]))

'28,24,21,17,15,12,6,3,1'

In [23]:
list_stops = ['BENGALURU',
'BASAV.BUS.S',
'JHCROSS/DSH',
'NELAMANGALA',
'TUMAKURU',
'GUBBI',
'NITTUR',
'KB CROSS',
'TIPTUR',
'ARSIKERE',
'BANAVARA',
'MATHIGATTA',
'KADUR',
'BIRUR',
'TARIKERE',
'BHADRAVATHI',
'SHIVAMOGGA']
list(range(1,len(list_stops)+1))

list_stops_df = pd.DataFrame({"STOP_NAME":list_stops, "STOP_CODE":list(range(1,len(list_stops)+1))})
list_stops_df

      STOP_NAME  STOP_CODE
0     BENGALURU          1
1   BASAV.BUS.S          2
2   JHCROSS/DSH          3
3   NELAMANGALA          4
4      TUMAKURU          5
5         GUBBI          6
6        NITTUR          7
7      KB CROSS          8
8        TIPTUR          9
9      ARSIKERE         10
10     BANAVARA         11
11   MATHIGATTA         12
12        KADUR         13
13        BIRUR         14
14     TARIKERE         15
15  BHADRAVATHI         16
16   SHIVAMOGGA         17

In [24]:
import sqlite3 as sql
import os, sys
if os.path.exists('../data/db/'):
    conn = sql.connect('../data/db/ksrtc.db')
    print('connection established : {}'.format(conn))
else:
    print("path does not exists")

connection established : <sqlite3.Connection object at 0x10442a110>

In [25]:
list_stops_df.to_sql('STOP_TABLE',con=conn, if_exists='append', index_label='ID')

In [55]:
gg.to_sql('KSRTC_BUS_DATA',con=conn, if_exists='append', index_label='ID')

In [26]:
# conn.execute("DROP TABLE IF EXISTS KSRTC_BUS")
conn.commit()
conn.close()

In [68]:
reader

In [69]:
for chunk in reader:
    print("writing\n")
    chunk.to_sql('KSRTC_BUS',con=conn, if_exists='append', index_label='ID')
conn.commit()

writing

writing

writing

In [43]:
if reader:
    print("thik hai")
else:
    print("nahi thik hai")

thik hai

In [86]:
p = conn.execute("select count(*) from KSRTC_BUS")
p.fetchall()

[(0,)]

In [81]:
pp = conn.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BUS'")
cc = pp.fetchall()
cc

In [84]:
pp = conn.execute("delete from KSRTC_BUS")
conn.commit()
cc = pp.fetchall()
cc

[]

In [83]:
len(cc)

0

In [73]:
p.fetchall()[0][0]

24

In [87]:
conn.commit()
conn.close()

In [63]:
import difflib