In [13]:
import datetime as dt

In [15]:
import dateutil as du

In [50]:
p = du.parser.parse('01-NOV-2016 10:38:26')
p.isoformat()

'2016-11-01T10:38:26'

In [53]:
import pandas as pd
g = pd.Timestamp(p)
g

Timestamp('2016-11-01 10:38:26')

In [52]:
du.parser.parse(p.isoformat())

datetime.datetime(2016, 11, 1, 10, 38, 26)

In [67]:
import pandas as pd
reader = pd.read_csv('../data/clean_data/full_data.csv', parse_dates={'ETD_DATETIME':['ETD_DATE','ETD_TD_TIME']}, chunksize=10)

In [47]:
import sqlite3 as sql
import os, sys
if os.path.exists('../data/db/'):
    conn = sql.connect('../data/db/ksrctc.db')
    print('connection established : {}'.format(conn))
else:
    print("path does not exists")

connection established : <sqlite3.Connection object at 0x10a383810>

In [60]:
conn.execute("DROP TABLE IF EXISTS KSRTC_BUS")
conn.commit()

In [68]:
reader

In [69]:
for chunk in reader:
    print("writing\n")
    chunk.to_sql('KSRTC_BUS',con=conn, if_exists='append', index_label='ID')
conn.commit()

writing

writing

writing

In [43]:
if reader:
    print("thik hai")
else:
    print("nahi thik hai")

thik hai

In [86]:
p = conn.execute("select count(*) from KSRTC_BUS")
p.fetchall()

[(0,)]

In [81]:
pp = conn.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BUS'")
cc = pp.fetchall()
cc

In [84]:
pp = conn.execute("delete from KSRTC_BUS")
conn.commit()
cc = pp.fetchall()
cc

[]

In [83]:
len(cc)

0

In [73]:
p.fetchall()[0][0]

24

In [87]:
conn.commit()
conn.close()