In [1]:
import os
import shutil
import glob2
import numpy as np
import json as js

In [2]:
kk = np.array(glob2.glob("../data/AllData/RawData/BNG_BDT/*.csv"))

In [3]:
a = []
read_flag = False
with open("../data/AllData/RawData/BNG_BDT/B_APR2.csv") as f:
    p = f.readline()
    while p:
        if 'ETD_WAYBILL_NO' in p:
            p = f.readline()
            p = f.readline()
            read_flag = True
            continue
        if read_flag:
            if len(p) < 70:
                read_flag = False
            else:
                a.append(",".join(np.array(p.split(','))[[0,1,2,3,4]]))
        p = f.readline()

In [4]:
with open("../src/models/datastructure.json") as f:
    json_data = js.load(f)

In [5]:
h = []
for k,v in json_data["data_cols"].items():
    h.append(v["pos"])

In [6]:
import os, sys
os.getcwd()
os.pardir
sys.path.insert(0,os.path.pardir)
print(os.getcwd())

/Users/i074765/Documents/GitHub/APDS02_10_KSRTC_OPT/notebooks

In [7]:
from src.data import DataProcessingModule as dp
dir_dict = {
        'raw' : '../data/raw',
        'clean' : '../data/clean_data',
        'process' : '../data/processed',
        'parser' : '../src/models/datastructure.json',
        'db' : '../data/db'
}
dp_class = dp.DataPreprocessing(dir_dict)

In [8]:
kk = np.array(glob2.glob("../data/AllData/RawData/lst/*.lst"))
kk

array(['../data/AllData/RawData/lst/CPT DETAILES.LST',
       '../data/AllData/RawData/lst/SHIMOGGA.LST',
       '../data/AllData/RawData/lst/HRH_117AB,108AB.LST'], dtype='<U47')

In [9]:
# for x in kk:
#     dp_class.write_processed_data(x,
#                               '../data/AllData/RawData/txt/full_data.csv')

In [10]:
import sqlite3 as sql
import os, sys
if os.path.exists('../data/db/'):
    conn = sql.connect('../data/db/ksrtc.db')
    print('connection established : {}'.format(conn))
else:
    print("path does not exists")

connection established : <sqlite3.Connection object at 0x104340810>

In [11]:
kk = np.array(glob2.glob("../data/clean_data/*.csv"))
# ss = kk[0]
# ss.split('/')[-1]
kk

array(['../data/clean_data/AllTxts.csv', '../data/clean_data/iim_hnl.csv',
       '../data/clean_data/iim_smg.csv',
       '../data/clean_data/full_data1.csv',
       '../data/clean_data/BNG_BDT.csv', '../data/clean_data/AllLsts.csv',
       '../data/clean_data/kundapura_etm_datas_cleaned.csv',
       '../data/clean_data/anvatti_tckt_details_cleaned.csv'],
      dtype='<U51')

In [12]:
import pandas as pd
from dateutil.parser import parse
# dateparser = lambda x: parse(" ".join(x)).strftime("%Y-%m-%d %H:%M:%S")
def dateparser(x):
    try:
        return parse(x).strftime("%Y-%m-%d %H:%M:%S")
    except:
        return '2000-01-01 00:00:00'

parse('31-Aug-18 9:19:59').strftime("%Y-%m-%d %H:%M:%S")

'2018-08-31 09:19:59'

In [13]:
df = pd.read_csv("../data/clean_data/BNG_BDT.csv")
df.head(10)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5,11,12,13,21,23,24,25,26,27,30,32,35,37,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ETD_WAYBILL_NO,ETD_EBTMNO,ETD_ROUTE_NO,ETD_ROUTE_TYPE,ETD_TRIP_NO,ETD_TICKET_TYPE,ETD_TICKET_NO,ETD_TICKET_SUBNO,ETD_CUR_STOP_NO,ETD_CUR_STOP_CODE,...,ETD_LAST_UPD_DATE,ETD_UID,ETD_BATTERY_VOLT,ETD_CONCN_AMOUNT,ETD_CONCN_PERCENT,ETD_CUR_STOP_NAME,ETD_DST_STOP_NAME,ETD_KMS,ETD_TICKET_TYPE_DESCR,ETD_TRIP_DIRECTION
0,120905,50104420,6,1,1,1,330773,0,4,4,...,12-Mar-18,KSRTC,8.11,0,0,BHADRAVATHI,SHIVAMOGGA,20,PASSENGER,D
1,120905,50104420,6,1,1,1,330774,0,4,4,...,12-Mar-18,KSRTC,8.08,0,0,BHADRAVATHI,SHIVAMOGGA,20,PASSENGER,D
2,120905,50104420,6,1,1,1,330775,0,4,4,...,12-Mar-18,KSRTC,8.04,0,0,BHADRAVATHI,SHIVAMOGGA,20,PASSENGER,D
3,120905,50104420,6,1,1,1,330776,0,4,4,...,12-Mar-18,KSRTC,8.09,0,0,BHADRAVATHI,SHIVAMOGGA,20,PASSENGER,D
4,120905,50104420,6,1,1,1,330777,0,4,4,...,12-Mar-18,KSRTC,8.07,0,0,BHADRAVATHI,SHIVAMOGGA,20,PASSENGER,D
5,120905,50104420,6,1,1,11,330778,0,4,4,...,12-Mar-18,KSRTC,8.07,225,100,BHADRAVATHI,SHIVAMOGGA,20,STUDENT PAS,D
6,120905,50104420,6,1,1,8,330779,0,3,3,...,12-Mar-18,KSRTC,8.08,0,0,MALNAD DAIR,MALNAD DAIR,0,STAGE CHNGE,D
7,120905,50104420,6,1,1,8,330780,0,2,3,...,12-Mar-18,KSRTC,8.08,0,0,BIDARE,BIDARE,0,STAGE CHNGE,D
8,120905,50104420,6,1,1,8,330781,0,1,1,...,12-Mar-18,KSRTC,8.07,0,0,SHIVAMOGGA,SHIVAMOGGA,0,STAGE CHNGE,D
9,120905,50104420,6,1,1,29,330782,0,1,1,...,12-Mar-18,KSRTC,8.07,0,0,SHIVAMOGGA,SHIVAMOGGA,0,-----------,D

In [16]:
df[df.ETD_WAYBILL_NO == 136363][['ETD_MISC_FEE','ETD_TICKET_TYPE','ETD_DATE','ETD_TD_TIME']]

       ETD_MISC_FEE ETD_TICKET_TYPE  ETD_DATE ETD_TD_TIME
467606    31-Dec-18       28 090968   7:41:35           0
467607    31-Dec-18       01 090969   8:28:46          25
467608    31-Dec-18       11 090970   8:34:58          25
467609    31-Dec-18       08 090971   8:35:02          25
467610    31-Dec-18       08 090972   8:43:07          25
467611    31-Dec-18       08 090973   8:43:09          25
467612    31-Dec-18       29 090974   8:43:09          25
467613    31-Dec-18       28 090975   9:09:16          25
467614    31-Dec-18       01 090976   9:09:42          63
467615    31-Dec-18       01 090977   9:10:56         113
467616    31-Dec-18       01 090978   9:13:20         163
467617    31-Dec-18       01 090979   9:14:02         697
467618    31-Dec-18       01 090980   9:14:45         722
467619    31-Dec-18       33 090981   9:15:05         767
467620    31-Dec-18       01 090982   9:15:11         827
467621    31-Dec-18       01 090983   9:15:52         852
467622    31-Dec-18       01 090984   9:15:57         877
467623    31-Dec-18       01 090985   9:16:01         902
467624    31-Dec-18       01 090986   9:16:39         952
467625    31-Dec-18       01 090987   9:16:55         992
467626    31-Dec-18       01 090988   9:17:34        1259
467627    31-Dec-18       01 090989   9:17:50        1309
467628    31-Dec-18       01 090990   9:18:26        1334
467629    31-Dec-18       01 090991   9:18:40        1589
467630    31-Dec-18       01 090992   9:19:05        1614
467631    31-Dec-18       01 090993   9:19:12        1808
467632    31-Dec-18       01 090994   9:20:04        1848
467633    31-Dec-18       01 090995   9:20:12        1873
467634    31-Dec-18       01 090996   9:20:28        1898
467635    31-Dec-18       01 090997   9:20:36        1923
...             ...             ...       ...         ...
467804    31-Dec-18       01 091166  21:50:01       15704
467805    31-Dec-18       01 091167  21:50:39       15734
467806    31-Dec-18       01 091168  21:50:55       15764
467807    31-Dec-18       01 091169  21:52:18       15814
467808    31-Dec-18       08 091170  22:05:40       15814
467809    31-Dec-18       01 091171  22:21:20       15829
467810    31-Dec-18       01 091172  22:22:10       15930
467811    31-Dec-18       08 091173  22:30:38       15930
467812    31-Dec-18       08 091174  22:41:21       15930
467813    31-Dec-18       08 091175  22:53:04       15930
467814    31-Dec-18       01 091176  23:10:19       15940
467815    31-Dec-18       01 091177  23:12:21       15950
467816    31-Dec-18       01 091178  23:12:29       15960
467817    31-Dec-18       08 091179  23:16:34       15960
467818    31-Dec-18       08 091180  23:32:09       15960
467819    31-Dec-18       08 091181  23:34:15       15960
467820    01-Jan-19       08 091182   0:00:35       15960
467821    01-Jan-19       08 091183   0:17:08       15960
467822    01-Jan-19       29 091184   0:17:08       15960
467823    01-Jan-19       28 091185   0:37:27       15960
467824    01-Jan-19       08 091186   1:02:26       15960
467825    01-Jan-19       08 091187   1:04:46       15960
467826    01-Jan-19       08 091188   1:06:50       15960
467827    01-Jan-19       29 091189   1:06:50       15960
467828    01-Jan-19       44 091190   6:48:35       15960
467829    01-Jan-19       91 091191   6:48:37       15960
467830    01-Jan-19       36 091192   6:48:41       15960
467831    01-Jan-19       91 091193   6:49:34       15960
467832    01-Jan-19       36 091194   6:49:38       15960
467833    01-Jan-19       36 091195   7:13:30       15960

[228 rows x 4 columns]

In [15]:
dp_class.clean_db_table(conn, 'KSRTC_BIG_DATA')

 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(0,)]
Table has been truncated number of rows are [(0,)]

In [19]:
completed_files = []
for f in kk:
    a = f.split('/')[-1]
    if a not in completed_files:
        print(">>>>>> Writing file {} to db ".format(a))
        dp_class.write_processeddata_db('ksrtc.db', 'KSRTC_BIG_DATA', a, 40000)
    completed_files.append(a)
    print(">>>>>> file {} to db completed ".format(a))

>>>>>> Writing file AllTxts.csv to db
Found clean data file: ../data/clean_data/AllTxts.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69d68>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(0,)]
KSRTC_BIG_DATA table has rows : [(0,)]
 writing chunk : 1
 writing chunk : 2

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 3
 writing chunk : 4
 writing chunk : 5
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(161675,)]
KSRTC_BIG_DATA table has rows : [(161675,)]
>>>>>> file AllTxts.csv to db completed
>>>>>> Writing file iim_hnl.csv to db
Found clean data file: ../data/clean_data/iim_hnl.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69c88>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(161675,)]
KSRTC_BIG_DATA table has rows : [(161675,)]
 writing chunk : 1
 writing chunk : 2
 writing chunk : 3
 writing chunk : 4
 writing chunk : 5

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 6
 writing chunk : 7
 writing chunk : 8
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(460910,)]
KSRTC_BIG_DATA table has rows : [(460910,)]
>>>>>> file iim_hnl.csv to db completed
>>>>>> Writing file iim_smg.csv to db
Found clean data file: ../data/clean_data/iim_smg.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69d68>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(460910,)]
KSRTC_BIG_DATA table has rows : [(460910,)]
 writing chunk : 1

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (24,25,26,27,28,31,33,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 2
 writing chunk : 3
 writing chunk : 4
 writing chunk : 5
 writing chunk : 6

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 7
 writing chunk : 8
 writing chunk : 9
 writing chunk : 10
 writing chunk : 11
 writing chunk : 12
 writing chunk : 13

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (0,1,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 14
 writing chunk : 15
 writing chunk : 16
 writing chunk : 17
 writing chunk : 18
 writing chunk : 19

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (12,13,24,25,26,27,28,31,33,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 20
 writing chunk : 21
 writing chunk : 22
 writing chunk : 23
 writing chunk : 24
 writing chunk : 25
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(1441974,)]
KSRTC_BIG_DATA table has rows : [(1441974,)]
>>>>>> file iim_smg.csv to db completed
>>>>>> Writing file full_data1.csv to db
Found clean data file: ../data/clean_data/full_data1.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69c88>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(1441974,)]
KSRTC_BIG_DATA table has rows : [(1441974,)]
 writing chunk : 1
 writing chunk : 2
 writing chunk : 3
 writing chunk : 4
 writing chunk : 5
 writing chunk : 6
 writing chunk : 7
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(1706229,)]
KSRTC_BIG_DATA table has rows : [(1706229,)]
>>>>>> file full_data1.csv to db completed
>>>>>> Writing file BNG_BDT.csv to db
Found clean data file: ../data/clean_data/BNG_BDT.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69d68>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(1706229,)]
KSRTC_BIG_DATA table has rows : [(1706229,)]
 writing chunk : 1
 writing chunk : 2
 writing chunk : 3
 writing chunk : 4
 writing chunk : 5
 writing chunk : 6
 writing chunk : 7
 writing chunk : 8
 writing chunk : 9
 writing chunk : 10
 writing chunk : 11

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (5,21,24,25,26,27,30,32,35,37,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 12

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (5,11,12,21,24,25,26,27,30,32,35,37,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 13
 writing chunk : 14
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2250611,)]
KSRTC_BIG_DATA table has rows : [(2250611,)]
>>>>>> file BNG_BDT.csv to db completed
>>>>>> Writing file AllLsts.csv to db
Found clean data file: ../data/clean_data/AllLsts.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10cc69c88>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2250611,)]
KSRTC_BIG_DATA table has rows : [(2250611,)]
 writing chunk : 1
 writing chunk : 2

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (12,13,27,40) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 writing chunk : 3
 writing chunk : 4
 writing chunk : 5
 writing chunk : 6
 writing chunk : 7
 writing chunk : 8
 writing chunk : 9
 writing chunk : 10
 writing chunk : 11
 writing chunk : 12
 writing chunk : 13
 writing chunk : 14
 writing chunk : 15
 writing chunk : 16
 writing chunk : 17
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2894601,)]
KSRTC_BIG_DATA table has rows : [(2894601,)]
>>>>>> file AllLsts.csv to db completed
>>>>>> Writing file kundapura_etm_datas_cleaned.csv to db
Found clean data file: ../data/clean_data/kundapura_etm_datas_cleaned.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10d1c87f0>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2894601,)]
KSRTC_BIG_DATA table has rows : [(2894601,)]
 writing chunk : 1
 writing chunk : 2
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2961369,)]
KSRTC_BIG_DATA table has rows : [(2961369,)]
>>>>>> file kundapura_etm_datas_cleaned.csv to db completed
>>>>>> Writing file anvatti_tckt_details_cleaned.csv to db
Found clean data file: ../data/clean_data/anvatti_tckt_details_cleaned.csv
csv chunk reader created <pandas.io.parsers.TextFileReader object at 0x10ae997f0>
connection established : <sqlite3.Connection object at 0x10f283f10>
 Here got the DB: <sqlite3.Connection object at 0x10f283f10>
 Here got the Table: KSRTC_BIG_DATA
 Here got the db name: ksrtc.db
 First cleaning table: KSRTC_BIG_DATA
 TABLE EXISTS ??
 firing query SELECT name FROM sqlite_master WHERE type='table' AND name='KSRTC_BIG_DATA'
 TABLE EXISTS !!!
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(2961369,)]
KSRTC_BIG_DATA table has rows : [(2961369,)]
 writing chunk : 1
 writing chunk : 2
 writing chunk : 3
Table KSRTC_BIG_DATA has been fetched with data
 Count has been selected from table KSRTC_BIG_DATA
 Count has been selected from table is here [(3056278,)]
KSRTC_BIG_DATA table has rows : [(3056278,)]
>>>>>> file anvatti_tckt_details_cleaned.csv to db completed

In [17]:
# import pandas as pd
# df = pd.read_csv("../data/clean_data/anvatti tckt details.csv")
# new_df = pd.DataFrame(df.iloc[:,0:41])
# new_df.rename({new_df.columns[i]:mm[i] for i in range(len(mm))}, inplace=True, axis=1)
# new_df.to_csv("../data/clean_data/anvatti_tckt_details_cleaned.csv", index=False)
# new_df = pd.read_csv("../data/clean_data/anvatti_tckt_details_cleaned.csv")
# new_df.head(10)

In [18]:
# import pandas as pd
# df = pd.read_csv("../data/clean_data/kundapura_etm datas.csv")
# new_df = pd.DataFrame(df.iloc[:,0:41])
# new_df.rename({new_df.columns[i]:mm[i] for i in range(len(mm))}, inplace=True, axis=1)
# new_df.to_csv("../data/clean_data/kundapura_etm_datas_cleaned.csv", index=False)
# new_df = pd.read_csv("../data/clean_data/kundapura_etm_datas_cleaned.csv")
# new_df.head(10)